ch.opentrainingcenter.importer.fitnesslog.tests/resources/fitnesslogbook.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.zonefivesoftware.com/xmlschemas/FitnessLogbook/v2" targetNamespace="http://www.zonefivesoftware.com/xmlschemas/FitnessLogbook/v2" elementFormDefault="qualified">

	<xs:annotation>
		<xs:documentation>
		Fitness Log XML Specification v2.
		Copyright ZoneFiveSoftware 2006-2009. All rights reserved. 
		May not be used without permission.
		</xs:documentation>
	</xs:annotation>
	
	<xs:element name="FitnessWorkbook">
		<xs:annotation>
			<xs:documentation>This is the root element.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="AthleteLog" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="AthleteLog">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Athlete" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Activity" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="History" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Athlete">
		<xs:annotation>
			<xs:documentation>If the Id attribute is specified it is a good idea to use a GUID so that distributed applications can identify a unique instance of the data.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="Id" type="xs:string" use="optional"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
			<xs:attribute name="DateOfBirth" type="xs:date" use="optional"/>
			<xs:attribute name="HeightCentimeters" type="xs:decimal" use="optional"/>
			<xs:attribute name="WeightKilograms" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Activity">
		<xs:annotation>
			<xs:documentation>The Id attribute is a GUID.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Metadata" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Duration" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Distance" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Elevation" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="HeartRate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Cadence" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Power" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Calories" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Notes" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Laps" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Intensity" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Weather" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Category" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Location" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Route" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="EquipmentUsed" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Track" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="TrackClock" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="DistanceMarkers" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="StartTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="Id" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="History">
		<xs:annotation>
			<xs:documentation>An entry in the athlete history.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:attribute name="Date" type="xs:date" use="required"/>
			<xs:attribute name="WeightKilograms" type="xs:decimal" use="optional"/>
			<xs:attribute name="BodyFatPercentage" type="xs:decimal" use="optional"/>
			<xs:attribute name="RestingHeartRateBPM" type="xs:decimal" use="optional"/>
			<xs:attribute name="MaximumHeartRateBPM" type="xs:decimal" use="optional"/>
			<xs:attribute name="SystolicBloodPressure" type="xs:decimal" use="optional"/>
			<xs:attribute name="DiastolicBloodPressure" type="xs:decimal" use="optional"/>
			<xs:attribute name="CaloriesConsumed" type="xs:decimal" use="optional"/>
			<xs:attribute name="Mood" type="xs:integer" use="optional"/>
			<xs:attribute name="SleepHours" type="xs:decimal" use="optional"/>
			<xs:attribute name="SleepQuality" type="xs:integer" use="optional"/>
			<xs:attribute name="Injured" type="xs:boolean" use="optional"/>
			<xs:attribute name="InjuredText" type="xs:string" use="optional"/>
			<xs:attribute name="Sick" type="xs:boolean" use="optional"/>
			<xs:attribute name="SickText" type="xs:string" use="optional"/>
			<xs:attribute name="MissedWorkout" type="xs:boolean" use="optional"/>
			<xs:attribute name="MissedWorkoutText" type="xs:string" use="optional"/>
			<xs:attribute name="Notes" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Metadata">
		<xs:complexType>
			<xs:attribute name="Source" type="xs:string" use="optional"/>
			<xs:attribute name="Created" type="xs:dateTime" use="optional"/>
			<xs:attribute name="Modified" type="xs:dateTime" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Duration">
		<xs:complexType>
			<xs:attribute name="TotalSeconds" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Distance">
		<xs:complexType>
			<xs:attribute name="TotalMeters" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Elevation">
		<xs:complexType>
			<xs:attribute name="DescendMeters" type="xs:decimal" use="optional"/>
			<xs:attribute name="AscendMeters" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="HeartRate">
		<xs:complexType>
			<xs:attribute name="AverageBPM" type="xs:decimal" use="optional"/>
			<xs:attribute name="MaximumBPM" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Cadence">
		<xs:complexType>
			<xs:attribute name="AverageRPM" type="xs:decimal" use="optional"/>
			<xs:attribute name="MaximumRPM" type="xs:decimal" use="optional "/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Power">
		<xs:complexType>
			<xs:attribute name="AverageWatts" type="xs:decimal" use="optional"/>
			<xs:attribute name="MaximumWatts" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Calories">
		<xs:complexType>
			<xs:attribute name="TotalCal" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="Laps">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Lap" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Lap">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Distance" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Elevation" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="HeartRate" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Cadence" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Power" minOccurs="0" maxOccurs="1"/>
				<xs:element ref="Calories" minOccurs="0" maxOccurs="1"/>
			</xs:sequence>
			<xs:attribute name="StartTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="DurationSeconds" type="xs:decimal" use="required"/>
			<xs:attribute name="Notes" type="xs:string" use="optional"/>
			<xs:attribute name="Rest" type="xs:boolean" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="Intensity">
		<xs:complexType mixed="true">
			<xs:attribute name="Value" type="xs:integer" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Weather">
		<xs:complexType mixed="true">
			<xs:attribute name="Conditions" type="WeatherCondition" use="optional"/>
			<xs:attribute name="Temp" type="xs:decimal" use="required"/>
			<xs:attribute name="Notes" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:simpleType name="WeatherCondition">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Clear"/>
			<xs:enumeration value="ScatterClouds"/>
			<xs:enumeration value="PartClouds"/>
			<xs:enumeration value="Overcast"/>
			<xs:enumeration value="MostClouds"/>
			<xs:enumeration value="Clouds"/>
			<xs:enumeration value="ChanceRain"/>
			<xs:enumeration value="LightDrizzle"/>
			<xs:enumeration value="LightRain"/>
			<xs:enumeration value="Rain"/>
			<xs:enumeration value="HeavyRain"/>
			<xs:enumeration value="ChanceThunder"/>
			<xs:enumeration value="Thunder"/>
			<xs:enumeration value="Snow"/>
			<xs:enumeration value="Haze"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:element name="Category">
		<xs:annotation>
			<xs:documentation>If the Id attribute is specified it is a good idea to use a GUID so that distributed applications can identify a unique instance of the data.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="Id" type="xs:string" use="optional"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="Location">
		<xs:annotation>
			<xs:documentation>If the Id attribute is specified it is a good idea to use a GUID so that distributed applications can identify a unique instance of the data.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="Id" type="xs:string" use="optional"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
		<xs:element name="Route">
		<xs:annotation>
			<xs:documentation>If the Id attribute is specified it is a good idea to use a GUID so that distributed applications can identify a unique instance of the data.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="Id" type="xs:string" use="optional"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="EquipmentUsed">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="EquipmentItem" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="EquipmentItem">
		<xs:annotation>
			<xs:documentation>If the Id attribute is specified it is a good idea to use a GUID so that distributed applications can identify a unique instance of the data.</xs:documentation>
		</xs:annotation>
		<xs:complexType mixed="true">
			<xs:attribute name="Id" type="xs:string" use="optional"/>
			<xs:attribute name="Name" type="xs:string" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="Track">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Metadata" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element ref="pt" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="StartTime" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="pt">
		<xs:complexType>
			<xs:attribute name="tm" type="xs:decimal" use="required"/>
			<xs:attribute name="lat" type="xs:decimal" use="optional"/>
			<xs:attribute name="lon" type="xs:decimal" use="optional"/>
			<xs:attribute name="ele" type="xs:decimal" use="optional"/>
			<xs:attribute name="dist" type="xs:decimal" use="optional"/>
			<xs:attribute name="hr" type="xs:decimal" use="optional"/>
			<xs:attribute name="cadence" type="xs:decimal" use="optional"/>
			<xs:attribute name="power" type="xs:decimal" use="optional"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="DistanceMarkers">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Marker" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Marker">
		<xs:complexType>
			<xs:attribute name="dist" type="xs:decimal" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="TrackClock">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="Pause" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="Pause">
		<xs:complexType>
			<xs:attribute name="EndTime" type="xs:dateTime" use="required"/>
			<xs:attribute name="StartTime" type="xs:dateTime" use="required"/>
		</xs:complexType>
	</xs:element>
</xs:schema>